+ Python IDLE, Pycharm, Visual Studio (Any Python IDE / Interpreter)  [v 3.0+]  .To check installed - Python version, use command line terminal:   $ python --version 
+ FLASK 2.0.1 module (Python-3)
+ NOTEPAD++ / NOTEPAD / VS-CODE for HTML/CSS/BOOTSTRAP scripting


INSTALLATION ...

>> FLASK for Python-3 :----------------------  
    $ pip install -U Flask
    
>>  Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications. It began as a simple wrapper around Werkzeug and Jinja and has become one of the most popular Python web application frameworks.
    Flask offers suggestions, but doesn't enforce any dependencies or project layout. It is up to the developer to choose the tools and libraries they want to use. There are many extensions provided by the community that make adding new functionality easy.
   
   
@TSG405
